/* Custom items for website
PURPLE --> #453054
GREEN --> #A8C553
WHITE --> #ffff
FONTS --> Russo One & Open Sans
*/

/* All placeholder text should use classname='placeholder' */
.placeholder {
  color: white;
  font-size: 25px;
}

#root {
  color: white;
  min-height: 100vh;
}

body {
  background-color: #1d2323;
}

#calendar {
  color: black;
  background-color: #a8c553;
  min-width: 340px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
}

.columnHeader {
  height: 40px;
  background-color: #453054;
  color: white;
  margin: auto;
  padding-left: 10px;
  min-width: 340px;
}
.columnHeader h2 {
  font-size: 1.4em;
  line-height: 40px;
}

#loggedInPage {
  padding-bottom: 40px;
}

#displayMessages,
#displayEvents {
  background-color: lightgray;
  width: 90%;
  margin: auto;
  min-height: 500px;
  padding: 20px;
  color: #1d2323;
  min-width: 340px;
}

#loggedIn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  display: inline-block;
  font-size: 0.9em;
  height: 38px;
  line-height: 35px;
  /* padding-top: 10px; */
}

#table {
  background-color: white;
}

.popover {
  min-width: 450px;
}

/* Landing page section*/
#navBar {
  background-color: #453054;
  align-items: center;
  display: flex;
}

#logo {
  height: 40px;
  width: 30px;
}

#footer {
  background-color: #a8c553;
  height: 35px;
}

#heroIntro {
  margin-bottom: 40px;
  text-align: center;
}

.intro {
  color: #a8c553;
  font-size: 3em;
  font-family: Russo One;
}

.brandName {
  color: #ffff;
  font-size: 20px;
  margin-left: 5px;
  font-family: Open Sans;
}

/* Carousel settings */
.h1-responsive {
  margin-bottom: 600px;
  font-size: 4em;
  font-family: Russo One;
  color: #1d2323;
}

/* Landing page END */

/* Custom CSS is above this line*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
